@import "tailwindcss";

@source "../../resources/views/**/*.blade.php";
@source "../../storage/framework/views/*.php";

@theme {
  --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif;
  --color-brand-navy: #25247B;
  --color-brand-red: #EF4023;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: var(--font-sans);
    @apply antialiased bg-gray-200;
  }
}

@layer utilities {
  .underline-bar {
    display: block !important;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    
    /* ADD THESE TO SOFTEN THE LOOK */
    border-radius: 9999px; /* Rounds the edges */
    box-shadow: 0 0 8px rgba(239, 64, 35, 0.3); /* Subtle dull red glow */
  }

  .underline-bar-active {
    transform: scaleX(1);
  }
}